.form
  %h1.form__font
    = "投稿する"
  = form_for @post do |f|
    = f.text_field :title, placeholder: "タイトル", class: "form__title"
    = f.collection_select :tag_ids, Tag.all, :id, :name, class: "form__select"
    = f.text_area :content, placeholder: "本文", class: "form__text"
    = f.submit "送信", class: "form__btn"