.header
  .header__box
    = link_to "#", class: "header__box__logo" do
      = "Our wisdom bag"
    .header__box__right
      = link_to "#", class: "header__box__right__user" do
        = "masa"
      = link_to "#" do
        .header__box__right__new
          .header__box__right__new__btn
            = "投稿する" 
