.header
  .header__box
    = link_to "/", class: "header__box__logo" do
      = "Our wisdom bag"
    .header__box__right
      - if user_signed_in?
        = link_to new_user_registration_path, class: "header__box__right__user" do
          = "新規登録"
        = link_to destroy_user_session_path, class: "header__box__right__logout", method: :delete do
          = "ログアウト"
      - else
        = link_to new_user_registration_path, class: "header__box__right__user" do
          = "新規登録"
        = link_to new_user_session_path, class: "header__box__right__logout" do
          = "ログイン"
      = link_to new_post_path do
        .header__box__right__new
          .header__box__right__new__btn
            = "投稿する" 
