.content__box__main
  .content__box__main__articlebox
    .content__box__main__articlebox__titlebox
      = link_to "#", class:"content__box__main__articlebox__titlebox__title" do
        = "タイトル"
    .content__box__main__articlebox__timebox
      .content__box__main__articlebox__timebox__time
        = "2019-01-01 03:37:00"
      .content__box__main__articlebox__timebox__good
        = "いいね"
    .content__box__main__articlebox__tag
      = "テーマ"
  .content__box__main__articlebox
    .content__box__main__articlebox__titlebox
      = link_to "#", class:"content__box__main__articlebox__titlebox__title" do
        = "タイトル"
    .content__box__main__articlebox__timebox
      .content__box__main__articlebox__timebox__time
        = "2019-01-01 03:37:00"
      .content__box__main__articlebox__timebox__good
        = "いいね"
    .content__box__main__articlebox__tag
      = "テーマ"
  .content__box__main__articlebox
    .content__box__main__articlebox__titlebox
      = link_to "#", class:"content__box__main__articlebox__titlebox__title" do
        = "タイトル"
    .content__box__main__articlebox__timebox
      .content__box__main__articlebox__timebox__time
        = "2019-01-01 03:37:00"
      .content__box__main__articlebox__timebox__good
        = "いいね"
    .content__box__main__articlebox__tag
      = "テーマ"
