.content__box__side
  .content__box__side__form
    .content__box__side__form__input-box
      = form_tag '/posts/search', method: :get do
        = text_field_tag :keyword
        = submit_tag "検索"
    .content__box__side__theme-box__theme
      = "テーマ"
    = render @tag
    
      

     