.wrapper
  = render "shared/header"
  .devisecontent
    .devisecontent__devise-box
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .devisecontent__devise-box__email
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .devisecontent__devise-box__password
          = f.label :password
          .devisecontent__devise-box__password__column-left
          .devisecontent__devise-box__password__column-right
            = link_to "パスワードを忘れた場合", new_user_password_path
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .devisecontent__devise-box__remenberme
            = f.check_box :remember_me
            = f.label :remember_me, "ログインしたままにする"
        .devisecontent__devise-box__submit
          = f.submit "ログイン"
      .devisecontent__devise-box__box-newuser
      %p
        %span ---新規アカウント作成の方はこちら---
      = link_to "新規アカウントを作成", new_user_registration_path, class:"devisecontent__devise-box__box-newuser__btn"